.cabecalho{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cabecalho-titulo{
    color:black;
    font-weight: 800;
}

.cabecalho-menu{
    display:block;
    unicode-bidi:isolate
}

.cabecalho-menu-item